<html>
    <head>
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" type="text/css" href="index.css">
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <div>
            <button id="{{ id }}">
                <p>OPEN</p>
            </button>
        </div>
    </body>
    <script>
        $( document ).ready(function() {
            $( "#{{ id }}" ).click(function() {
                $( "#{{ id }}" ).animate({
                    opacity: 0.0
                }, 1000, function() {
                    // Animation complete.
                    $.get( "{{ link }}", function( data ) {
                        $( "#{{ id }}" ).animate({
                            opacity: 1.0
                        }, 500);
                    });
                });
            });        
        });        
    </script>
</html>