<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ title }}
        </title>
        <link rel="stylesheet" type="text/css" href="index.css">
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
    </head>
    <body>
        <div>
            {{#each id}}
                <button id="{{ this.id }}">
                    {{#if this.name}}
                        <p class="lg_text">{{ this.name }}</p>
                    {{else}}
                        <p class="lg_text">OPEN {{@index}}</p>
                        <p class="sm_text">{{ this.id }}</p>
                    {{/if}}
                    <p class="sm_text">state = {{ this.val }}</p>
                    {{#if this.name}}
                        <p class="sm_text">{{ this.id }}</p>
                    {{/if}}
                </button>
                <div></div>
            {{/each}}
        </div>
    </body>
    <script>
        $( document ).ready(function() {
            {{#each id}}
                $( "#{{ this.id }}" ).click(function() {
                    $( "#{{ this.id }}" ).animate({
                        opacity: 0.0
                    }, 250, function() {
                        // Animation complete.
                        $.get( "/open",  { id: "{{ this.id }}" } , function( data ) {
                            $( "#{{ this.id }}" ).animate({
                                opacity: 1.0
                            }, 100);
                        });
                    });
                });        
            {{/each}}
        });        
    </script>
</html>